---
import { getOrder } from "@/db/orders";
const name = Astro.url.searchParams.get('name');
const order: any = await getOrder(name);
if (!order) {
    console.log('error');
}
---

<header>
    <img src="/Nails-top_logo.webp" alt="coso">
    <section>
        <h1>Nails Top</h1>
        <p>Cra 80a #112-56</p>
        <p>3042333522</p>
    </section>
</header>

<section>
    <h2>Factura</h2>
    <div class="client">
        <section>
            <p>Pago de:</p>
            <p>{order.name}</p>
            <p>{order.phone}</p>
        </section>
        <section>
            <p>N# de orden:</p>
            <p>{ Math.floor(Math.random() * (100 - 1 + 1)) + 1 }</p>
            <p>Fecha:</p>
            <p>{order.date}</p>
        </section>
    </div>
    <div class="table">
        <div class="table-head">
            <p>Descripción</p>
            <p>Precio</p>
        </div>

        {
            order.services.map((service: any) => (
                <div class="table-body">
                    <p>{service.name}</p>
                    <p>${service.price}</p>
                </div>
            ))
        }
    </div>

    <p><strong>Total: ${(order.total).toLocaleString('es-ES')}</strong></p>

</section>

<style>
    header {
        color: #acacac;
        padding: .5rem;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    header img {
        width: 190px;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .client {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .table {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .table-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .table-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8rem;
    }

    p {
        margin: 0;
    }
</style>