---
import { getOrders } from "../db/orders";

const username = Astro.cookies.get("user-name");

const orders = await getOrders(username?.value);
if (!orders) {
    throw new Error("No se encontraron ordenes");
}
---
<section class="orders">
    <section class="section-header">
        <h2>Órdenes Pendientes</h2>
    </section>
    <section class="section-body">
        <table>
            <thead>
                {
                    orders.length === 0 ? <tr><td class="no-orders">No hay ordenes pendientes</td></tr> :
                <tr>
                    <th>Cliente</th>
                    <th>Servicio</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {   
                    orders.map((order) => (
                        <tr>
                            <td>{order.name}</td>
                            <td>{order.services.map((service: any, index: any) => (index === order.services.length - 1 ? `${service.name}` : `${service.name}, `))}</td>
                            <td>{order.date}</td>
                            <td>{order.time}</td>
                            <td>{order.status}</td>
                            <td class="actions">
                                <a target="_blank" rel="noopener noreferrer" href={`/employe/Facture?name=${order.name}`} class="complete-btn">Factura</a>
                                <button id={order.name} class="cancel-btn">Cancelar</button>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
            }
        </table>
    </section>
</section>

<script is:inline>
    const cancelBtns = document.querySelectorAll(".cancel-btn");
    cancelBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const name = btn.id;
            const res = confirm("¿Quieres cancelar esta orden?");
            if (!res) return;
            fetch(`/api/remove`, {
                method: "POST",
                body: JSON.stringify({ name: name }),
            })
            .then(() => location.reload())
        })
    })
</script>

<style>
    .no-orders {
        text-align: center;
        font-size: 1.5rem;
        color: #333;
    }

    .orders {
        width: 82vw;
        background-color: #fff5;
        margin: 4rem 0;

        backdrop-filter: blur(7px);
        box-shadow: 0 .4rem .8rem #0005;
        border-radius: .8rem;

        overflow: hidden;
    }

    .orders h2 {
        color: #333;
    }

    .section-header {
        background-color: #f0f0f0;
    }

    .section-body {
        width: 95%;
        max-height: calc(89% - .8rem);
        background-color: #ffffff;

        margin: .8rem auto;
        border-radius: .6rem;

        overflow: auto;

        &::-webkit-scrollbar {
            width: .5rem;
            height: .5rem;
        }
    }

    .section-body::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        background-color: #0004;
        visibility: hidden;
    }

    .section-body:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead th {
        position: sticky;
        top: 0;
        left: 0;
        background-color: #d5d1defe;
    }

    table th,
    table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table th {
        background-color: #f5f5f5;
    }

    table tr:hover {
        background-color: #eee;
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: .6rem;
    }

    .complete-btn,
    .cancel-btn,
    .details-btn {
        background-color: #2ba18f;
        color: #fff;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1;
    }

    .complete-btn:hover,
    .cancel-btn:hover,
    .details-btn:hover {
        background-color: #208175;
    }
</style>