---
interface Props {
    id: string;
    name: string;
    value: string;
    price?: number;
    img: string;
    status?: string;
}

const { id, name, value, price, img, status } = Astro.props;
import { Image } from "astro:assets";
---

{
    (status === "disabled" && (
        <input
            id={id}
            class="disabled"
            type="checkbox"
            name={name}
            value={id}
            disabled
        />
        <label for={id} class="disabled">
            <Image
                src={img}
                width={200}
                height={200}
                alt="servicio"
                loading={"eager"}
            />
            <h4>{value}</h4>
            {price && <p>${price.toLocaleString()}</p>}
        </label>
    )) || (
        <input
            id={id}
            type="checkbox"
            name={name}
            value={id}
            class={`${price}`}
        />
        <label for={id}>
            <Image
                src={img}
                width={200}
                height={200}
                alt="servicio"
                loading={"eager"}
            />
            <h4>{value}</h4>
            {price && <p>${price.toLocaleString()}</p>}
        </label>
    )
}

<style>
    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 200px;
        height: 230px;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        border: 1px solid #ddd;

        transition: scale 0.3s ease;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .disabled:is(label:hover) {
        scale: 1;
    }

    label:hover {
        scale: 1.1;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked:not([disabled]) + label {
        border-color: #b87333;
        color: #b87333;
        background-color: rgba(184, 115, 50, 0.2);
    }

    h4 {
        font-size: 14px;
        margin: 0;
    }

    p {
        font-size: 14px;
        margin: 0;
    }
</style>
